$orange: #F37603;
$orange-600: #E47209;
$gray: #DDDDDD;
$gray-400: #E4E4E4;
$gray-800: #888;
$gray-dark: #CCCCCC;
$dark: #111524;
$red: #FF4040;
$blue: #1F6EA2;
$blue-600: #23638E;
$blue-700: #0067B8;
$green: #5BB639;
$green-600: #58A73B;
$link: #5EC7FC;
$font-family: 'Ubuntu', sans-serif;